dist
vendor
node_modules

/coverage
.vscode/
.DS_Store
.env.local
*.log

## Java
*.class
*.jar
*.war
*.ear
*.nar
## Maven
target/
## Gradle
build/
.gradle
.classpath
.project

# latex
*.synctex.gz
*.aux
document.pdf
*.out
*.fls
*.fdb_latexmk
_minted-info
